<form action="/users/" method="POST" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id='username' name="user[username]">
    <label for="email">E-mail:</label>
    <input type="text" id="email" name="user[email]">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="user[password]">
    <button type="submit">submit</button>
</form>